/* normalizing my css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Festive', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

body {
  /* background-color: lawngreen; */
}

@media (max-width: 600px) {
  body {
    background-color: lightcoral;
  }

  h1 {
    font-size: 55px;
  }
}

@media (max-height: 300px) {
  body {
    background-color: lightskyblue;
  }
}
